<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.fazziclay.openwidgets">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenWidgetsTheme">
        <activity android:name=".activity.DebugActivity" />
        <activity android:name=".activity.SettingsActivity" />

        <receiver android:name=".widgets.android.DateAndroidWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_date_info" />
        </receiver>

        <service
            android:name=".service.WidgetsUpdaterService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".activity.DateWidgetConfiguratorActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>