<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.fazziclay.openwidgets">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenWidgets">
        <activity android:name=".activity.DigitalClockConfigurate" />
        <activity android:name=".activity.Debug2" />
        <activity android:name=".activity.About" />

        <receiver android:name=".widgets.DigitalClock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/digital_clock_info" />
        </receiver>

        <service
            android:name=".WidgetsUpdaterService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>